@media (min-width:768px) {
    div.container {
        padding-left: 0;
        padding-right: 0
    }
    .dl-horizontal dt {
        float: left;
        width: 160px;
        clear: left;
        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap
    }
    .dl-horizontal dd {
        margin-left: 180px
    }
    .form-inline .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle
    }
    .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle
    }
    .form-inline .form-control-static {
        display: inline-block
    }
    .form-inline .input-group {
        display: inline-table;
        vertical-align: middle
    }
    .form-inline .input-group .form-control,
    .form-inline .input-group .input-group-addon,
    .form-inline .input-group .input-group-btn {
        width: auto
    }
    .form-inline .input-group > .form-control {
        width: 100%
    }
    .form-inline .control-label {
        margin-bottom: 0;
        vertical-align: middle
    }
    .form-inline .checkbox,
    .form-inline .radio {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        vertical-align: middle
    }
    .form-inline .checkbox label,
    .form-inline .radio label {
        padding-left: 0
    }
    .form-inline .checkbox input[type=checkbox],
    .form-inline .radio input[type=radio] {
        position: relative;
        margin-left: 0
    }
    .form-inline .has-feedback .form-control-feedback {
        top: 0
    }
    .form-horizontal .control-label {
        text-align: right;
        margin-bottom: 0;
        padding-top: 20px
    }
    .form-horizontal .form-group-lg .control-label {
        padding-top: 31.39999924px
    }
    .form-horizontal .form-group-sm .control-label {
        padding-top: 16.2px
    }
    .nav-tabs.nav-justified > li {
        display: table-cell;
        width: 1%
    }
    .nav-tabs.nav-justified > li > a {
        margin-bottom: 0
    }
    .nav-tabs.nav-justified > li > a {
        border-bottom: 1px solid #ddd;
        border-radius: 0
    }
    .nav-tabs.nav-justified > .active > a,
    .nav-tabs.nav-justified > .active > a:focus,
    .nav-tabs.nav-justified > .active > a:hover {
        border-bottom-color: #d1d2d4
    }
    .nav-justified > li {
        display: table-cell;
        width: 1%
    }
    .nav-justified > li > a {
        margin-bottom: 0
    }
    .nav-tabs-justified > li > a {
        border-bottom: 1px solid #ddd;
        border-radius: 0
    }
    .nav-tabs-justified > .active > a,
    .nav-tabs-justified > .active > a:focus,
    .nav-tabs-justified > .active > a:hover {
        border-bottom-color: #d1d2d4
    }
    .navbar {
        border-radius: 0
    }
    .navbar-static-top {
        border-radius: 0
    }
    .navbar-fixed-bottom,
    .navbar-fixed-top {
        border-radius: 0
    }
    .navbar-nav {
        margin: 0;
        font: 400 16px/31px Roboto,sans-serif;
    }
    .navbar-nav > li > a {
        border-radius: 2px;
        padding: 19px 27px;
        display: block;
        text-transform: uppercase
    }
    .navbar-left {
        float: left
    }
    .navbar-right {
        float: right;
        margin-right: 150px
    }
    .navbar-right ~ .navbar-right {
        margin-right: 0
    }
    .navbar-right .dropdown-menu-left {
        left: 0;
        right: auto
    }
    .modal-dialog {
        width: 600px;
        margin: 30px auto
    }
    .modal-content {
        box-shadow: 0 5px 15px rgba(0,0,0,.5)
    }
    .modal-sm {
        width: 300px
    }
}
@media (min-width:992px) {
    .modal-lg {
        width: 900px
    }
}

@media only screen and (max-width:1399px) {
    .toTop {
        display: none!important
    }
}
@media (max-width:1300px) {
    .isStuck .navbar-header {
        display: none
    }
    .navbar-header {
        padding-top: 5px;
        padding-bottom: 5px;
        float: none;
        margin-left: auto;
        margin-right: auto
    }
    .navbar.navbar-right {
        float: left;
        margin-left: 20px;
        margin-right: 0
    }
}
@media (max-width:1300px) and (max-width:767px) {
    .navbar-header {
        padding-top: 15px;
        padding-bottom: 15px
    }
}
@media (max-width:1200px) {
    .custom-wrapper .custom-box {
        width: 100%
    }
    .custom-wrapper .button-wrap {
        padding-bottom: 20px;
        text-align: center;
        -ms-transform: none;
        -webkit-transform: none;
        transform: none;
        position: static;
        float: none
    }
    .custom-wrapper .button-wrap:before {
        width: 0;
        height: 0
    }
}
@media (max-width:1199px) {
    section.sect-404 em {
        font-size: 180px
    }
    .addr1 dl dd {
        width: 55%
    }
}
@media only screen and (max-width:992px) {
    .isStuck {
        display: none!important
    }
}
@media (max-width:991px) {
    .thumb {
        max-width: 570px;
        margin-left: auto;
        margin-right: auto
    }
    .row .col-sm-12 + * {
        margin-top: 30px
    }
    .row .col-sm-6 + * {
        margin-top: 30px
    }
    section.sect-404 em {
        font-size: 140px
    }
    .clear-sm {
        clear: left
    }
    .center991 {
        text-align: center
    }
    .center991 * {
        text-align: center
    }
    .left991 {
        text-align: left
    }
    .left991 * {
        text-align: left
    }
    .right991 {
        text-align: right
    }
    .right991 * {
        text-align: right
    }
    .addr1 {
        margin-bottom: 20px
    }
    .box2 {
        max-width: 570px;
        margin-left: auto;
        margin-right: auto
    }
    .address-list li dl {
        max-width: 370px;
        margin-left: auto;
        margin-right: auto
    }
    .thumbnail6 {
        max-width: 370px
    }
}
@media (max-width:767px) {
    body {
        padding-top: 56px
    }
    .rd-mobilemenu,
    .rd-mobilepanel {
        display: flex;
        align-items: center;
    }
    div#panel .navbar-header .navbar-toggle .icon-bar {
        background-color: #000
    }
    div#panel #advanced .navbar-collapse .dropdown-menu li a,
    div#panel #advanced .navbar-collapse li a {
        background: #fff!important;
        color: #666!important
    }
    .lt-ie9 div#panel #advanced .navbar-collapse .dropdown-menu li a,
    .lt-ie9 div#panel #advanced .navbar-collapse li a {
        background: 0 0!important;
        zoom: 1!important
    }
    div#panel #advanced .navbar-collapse li a:hover {
        background: #ef4023!important;
        color: #fff!important
    }
    div#panel #advanced .navbar-collapse .-tm-dropdown.open > a {
        background-color: #f5f5f5!important;
        color: #2d2d2d!important
    }
    div#panel #advanced .navbar-collapse,
    div#panel #advanced .navbar-collapse .dropdown-menu {
        background: #fff!important;
        padding-top: 0!important;
        box-shadow: 0 0 2px 0 rgba(0,0,0,.5)!important
    }
    .lt-ie9 div#panel #advanced .navbar-collapse,
    .lt-ie9 div#panel #advanced .navbar-collapse .dropdown-menu {
        background: 0 0!important;
        zoom: 1!important
    }
    .row .col-xs-12 + * {
        margin-top: 30px
    }
    .col-4_mod div:nth-child(n+2) {
        margin-top: 60px
    }
    .col-4_mod div:nth-child(n+1) {
        float: none;
        text-align: center;
        max-width: 370px;
        margin-left: auto;
        margin-right: auto
    }
    .col-3_mod div:nth-child(n+2) {
        margin-top: 60px
    }
    .col-3_mod div:nth-child(n+1) {
        float: none;
        text-align: center;
        max-width: 370px;
        margin-left: auto;
        margin-right: auto
    }
    blockquote {
        padding: 0
    }
    blockquote {
        padding: 0
    }
    .center767 {
        text-align: center
    }
    .center767 * {
        text-align: center
    }
    .left767 {
        text-align: left
    }
    .left767 * {
        text-align: left
    }
    .right767 {
        text-align: right
    }
    .right767 * {
        text-align: right
    }
    .flex-list li {
        display: block
    }
    blockquote {
        padding: 0
    }
    .header-wrapper {
        padding-top: 15px;
        padding-bottom: 15px;
        height: auto;
        text-align: center
    }
    .header-wrapper .inline-list {
        float: none;
        margin-left: 0
    }
    .header-wrapper .info-list {
        margin-right: 0;
        float: none
    }
    .header-wrapper .info-list li {
        display: block;
        text-align: center
    }
    .navbar {
        display: none
    }
    .dropdown-menu {
        display: block;
        position: relative;
        float: none;
        width: auto
    }
    .footer__menu {
        margin: 1em auto 0 auto;
        text-align: center;
    }
    footer .develop, .copyright {
        text-align: center;
    }
    footer .develop {
        margin: 1em 0 0 0;
    }
    footer .contacts {
        text-align: center;
    }
    .header__menu {
        padding: 0;
    }
    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
        margin-bottom: 10px;
    }
    .well {
        padding: 2em 0;
    }
    .projects__in-main .thumb img {
        height: auto;
    }
    .project figure img {
        min-height: auto;
    }
}
@media screen and (max-width:767px) {
    .table-responsive {
        width: 100%;
        margin-bottom: 20.25px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd
    }
    .table-responsive > .table {
        margin-bottom: 0
    }
    .table-responsive > .table > tbody > tr > td,
    .table-responsive > .table > tbody > tr > th,
    .table-responsive > .table > tfoot > tr > td,
    .table-responsive > .table > tfoot > tr > th,
    .table-responsive > .table > thead > tr > td,
    .table-responsive > .table > thead > tr > th {
        white-space: nowrap
    }
    .table-responsive > .table-bordered {
        border: 0
    }
    .table-responsive > .table-bordered > tbody > tr > td:first-child,
    .table-responsive > .table-bordered > tbody > tr > th:first-child,
    .table-responsive > .table-bordered > tfoot > tr > td:first-child,
    .table-responsive > .table-bordered > tfoot > tr > th:first-child,
    .table-responsive > .table-bordered > thead > tr > td:first-child,
    .table-responsive > .table-bordered > thead > tr > th:first-child {
        border-left: 0
    }
    .table-responsive > .table-bordered > tbody > tr > td:last-child,
    .table-responsive > .table-bordered > tbody > tr > th:last-child,
    .table-responsive > .table-bordered > tfoot > tr > td:last-child,
    .table-responsive > .table-bordered > tfoot > tr > th:last-child,
    .table-responsive > .table-bordered > thead > tr > td:last-child,
    .table-responsive > .table-bordered > thead > tr > th:last-child {
        border-right: 0
    }
    .table-responsive > .table-bordered > tbody > tr:last-child > td,
    .table-responsive > .table-bordered > tbody > tr:last-child > th,
    .table-responsive > .table-bordered > tfoot > tr:last-child > td,
    .table-responsive > .table-bordered > tfoot > tr:last-child > th {
        border-bottom: 0
    }
}
@media (max-width:550px) {
    .row .col-xs-4 {
        clear: both;
        width: 100%
    }
}
@media (max-width:500px) {
    .row .col-xs-6 {
        clear: both;
        width: 100%
    }
    .small__img {
        width: 100%;
        margin: 0 0 15px 0;
    }
    .small__img + .small__img {
        margin: 0 0 15px 0;
    }
}
@media (max-width:479px) {
    .previous__page {
        display: none;
    }
    .producers .box {
        min-height: auto;
    }
    footer .inline-list li a {
        line-height: 68px;
        text-align: center;
        height: 68px;
        width: 68px
    }
    .tab-content img {
        float: none;
        margin: 0;
    }
    footer .inline-list li + li {
        margin-left: 22px
    }
    .button-wrap {
        float: none;
        text-align: center
    }
    .button-wrap .btn2 + .btn2 {
        margin-left: 0;
        margin-top: 10px
    }
    .custom-wrapper .button-wrap {
        padding-bottom: 20px;
        text-align: center;
        display: block;
        -ms-transform: none;
        -webkit-transform: none;
        transform: none;
        width: 100%
    }
    .custom-wrapper .button-wrap .btn2 + .btn2 {
        margin-left: 0;
        margin-top: 10px
    }
    .logo-lion img {
        max-width: 80px;
    }
    .brand_img {
        width: 100px;
        height: auto;
    }
}
@media (max-width:450px) {
    .media-body,
    .media-left,
    .media-right {
        display: block;
        width: 100%
    }
}
@media (max-width:375px) {
    .rd-mobilepanel_title {
        font-size: 17px
    }
}
@media (min-width:992px) and (max-width:1199px) {
    .col-4_mod div:nth-child(3n+4) {
        clear: both
    }
    .visible-md {
        display: block!important
    }
    table.visible-md {
        display: table
    }
    tr.visible-md {
        display: table-row!important
    }
    td.visible-md,
    th.visible-md {
        display: table-cell!important
    }
    .visible-md-block {
        display: block!important
    }
    .visible-md-inline {
        display: inline!important
    }
    .visible-md-inline-block {
        display: inline-block!important
    }
    .hidden-md {
        display: none!important
    }
}
@media (min-width:768px) and (max-width:991px) {
    .col-3_mod div:nth-child(2n+3) {
        clear: both
    }
    .header-wrapper .inline-list {
        padding-top: 11px;
        margin-left: 20px
    }
    .header-wrapper .info-list {
        margin-right: 20px
    }
    .header-wrapper .info-list li * {
        margin-left: 3px
    }
    .header-wrapper .info-list li + li {
        margin-left: 7px
    }
}
@media (min-width:768px) and (max-width:979px) {
    .address-list li dl {
        font-size: 13px
    }
}
@media (min-width:768px) and (max-width:1500px) {
    .navbar-nav > li > a {
        padding: 16px 8px;
        font-size: 14px
    }
}
@media (min-width:768px) and (max-width:767px) {
    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
        font-style: italic
    }
}
@media print {
    *,
    :after,
    :before {
        background: 0 0!important;
        color: #000!important;
        box-shadow: none!important;
        text-shadow: none!important
    }
    a,
    a:visited {
        text-decoration: underline
    }
    a[href]:after {
        content: " (" attr(href) ")"
    }
    abbr[title]:after {
        content: " (" attr(title) ")"
    }
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: ""
    }
    blockquote,
    pre {
        border: 1px solid #999;
        page-break-inside: avoid
    }
    thead {
        display: table-header-group
    }
    img,
    tr {
        page-break-inside: avoid
    }
    img {
        max-width: 100%!important
    }
    h2,
    h3,
    p {
        orphans: 3;
        widows: 3
    }
    h2,
    h3 {
        page-break-after: avoid
    }
    select {
        background: #fff!important
    }
    .navbar {
        display: none
    }
    .btn > .caret,
    .dropup > .btn > .caret {
        border-top-color: #000!important
    }
    .label {
        border: 1px solid #000
    }
    .table {
        border-collapse: collapse!important
    }
    .table td,
    .table th {
        background-color: #fff!important
    }
    .table-bordered td,
    .table-bordered th {
        border: 1px solid #ddd!important
    }
    .visible-print {
        display: block!important
    }
    table.visible-print {
        display: table
    }
    tr.visible-print {
        display: table-row!important
    }
    td.visible-print,
    th.visible-print {
        display: table-cell!important
    }
    .visible-print-block {
        display: block!important
    }
    .visible-print-inline {
        display: inline!important
    }
    .visible-print-inline-block {
        display: inline-block!important
    }
    .hidden-print {
        display: none!important
    }
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type=date],
    input[type=datetime-local],
    input[type=month],
    input[type=time] {
        line-height: 67px
    }
    .input-group-sm input[type=date],
    .input-group-sm input[type=datetime-local],
    .input-group-sm input[type=month],
    .input-group-sm input[type=time],
    input[type=date].input-sm,
    input[type=datetime-local].input-sm,
    input[type=month].input-sm,
    input[type=time].input-sm {
        line-height: 50.4px
    }
    .input-group-lg input[type=date],
    .input-group-lg input[type=datetime-local],
    .input-group-lg input[type=month],
    .input-group-lg input[type=time],
    input[type=date].input-lg,
    input[type=datetime-local].input-lg,
    input[type=month].input-lg,
    input[type=time].input-lg {
        line-height: 71.6px
    }
}
@media (max-width:1350px) {
    .camera_caption h2 {
        font-size: 50px;
        line-height: 55px
    }
}
@media (max-width:1199px) {
    .camera_caption {
        text-align: center
    }
}
@media (max-width:1170.73170732px) {
    .camera_container {
        padding-bottom: 350px
    }
}
@media (max-width:767px) {
    .camera_next,
    .camera_prev {
        height: 40px;
        width: 40px;
        font-size: 35px;
        line-height: 40px
    }
    .camera_caption {
        left: 0;
        right: 0;
        text-align: center
    }
    .camera_caption h2 {
        font-size: 30px;
        line-height: 35px
    }
}
@media (max-width:479px) {
    .camera_next,
    .camera_prev {
        display: none
    }
    .article-image {
        max-width: 100%;
        float: none;
        margin: 0 0 1rem 0;
    }
}
@media (min-width:768px) and (max-width:979px) {
    .camera_caption h2 {
        font-size: 50px
    }
    .camera_next,
    .camera_prev {
        height: 40px;
        width: 40px;
        font-size: 35px;
        line-height: 40px
    }
}
@media (max-width:1365px) {
    .mailform label {
        margin-top: 30px
    }
}
@media (max-width:991px) {
    .mailform {
        margin-top: 40px
    }
    .mfControls {
        text-align: center
    }
}
@media (max-width:767px) {
    .mfValidation {
        text-align: right;
        top: 2px;
        left: auto;
        bottom: 100%;
        right: 15px;
        background: 0 0;
        padding: 0;
        margin: 0 0 3px;
        min-height: 0;
        color: red;
        box-shadow: none
    }
    .mfValidation:before {
        display: none
    }
    .mfValidation:hover {
        background: 0 0
    }
}
@media (max-width:979px) {
    .search-frame h4 {
        font-size: 16px;
        line-height: 16px
    }
    .search-frame .search_list li:before {
        top: 13px
    }
}
@media (max-width:767px) {
    .search-form {
        width: 100%
    }
    .search-form {
        display: block;
        position: fixed;
        width: 94%;
        top: 55px;
        left: 3%;
        right: 3%;
        padding: 0;
        z-index: 999999;
        border-radius: 0;
        -ms-transform: translateX(200%);
        -webkit-transform: translateX(200%);
        transform: translateX(200%);
        -webkit-transition: .3s cubic-bezier(.55,0,.1,1);
        transition: .3s cubic-bezier(.55,0,.1,1)
    }
    .search-form_label {
        background: #fff;
        border-color: rgba(0,0,0,.1);
        box-shadow: 0 4px 4px 0 rgba(0,0,0,.1)
    }
    .search-form_submit {
        color: #719a3f
    }
    .search-form_submit:hover {
        color: #ef4023
    }
    .search-form.on {
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
        display: block
    }
    .search-form_toggle {
        position: fixed;
        right: 43px;
        top: 6px;
        margin-top: 0
    }
    .navbar {
        z-index: 999999998
    }
}
@media (min-width:768px) and (max-width:991px) {
    .search-form {
        width: 33%;
        right: 15px
    }
    .search-form_toggle {
        right: 26px
    }
}
