.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1em;
    line-height: normal;
}
p {
    font-size: 16px;
    margin: 0 0 15px 0
}
.box_aside img {
    width: auto
}
.icons {
    text-align: center
}
.icons .icon {
    display: inline-block;
    margin: 0 2em;
    vertical-align: top;
    text-align: center
}
.icons .icon .img {
    min-height: 94px
}
.icons .icon .name {
    margin: 1em 0 0 0;
    font-weight: 700;
    line-height: 18px
}
.projects__in-main .thumb img {
    height: 202px
}
.projects__in-main .h2 {
    margin-bottom: 41px
}
.well2 {
    padding: 2em 0
}
.contacts__block table {
    width: 100%
}
.contacts__block table td {
    text-align: right;
    padding: 3px 22px 16px 0;
    line-height: 1.3em;
    vertical-align: top
}
footer {
    padding: 2em 0
}
footer .contacts li {
    display: block;
    position: relative;
    text-transform: none;
}
footer .contacts li:before {
    font-size: 18px;
    line-height: 24px;
    position: relative;
    margin: 4px 10px 0 0
}
footer .contacts li + li {
    margin: 5px 0 0 0
}
.footer__menu ul li {
    display: inline-block
}
.footer__menu ul li + li {
    margin: 5px 0 0 10px
}
footer .develop {
    text-align: right
}
footer .develop__link {
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle
}
footer .develop__link a {
    font-size: 12px;
    line-height: normal
}
footer .develop__logo {
    display: inline-block;
    width: 130px
}
footer .copyright {
    display: block;
    padding: 1.2em 0 0 0;
    font-size: 14px;
}
.tabs-left {
    border-bottom: none;
    padding-top: 2px
}
.tabs-left {
    border-right: 1px solid #ddd
}
.tabs-right {
    border-left: 1px solid #ddd
}
.tabs-left > li {
    float: none;
    margin-bottom: 2px
}
.tabs-left > li {
    margin-right: -1px
}
.tabs-right > li {
    margin-left: -1px
}
.tabs-left > li > a:hover,
.tabs-left > li.active > a,
.tabs-left > li.active > a:focus,
.tabs-left > li.active > a:hover {
    border-bottom-color: #ddd;
    color: #2d3a41;
    border-right-color: transparent
}
.header__menu {
    padding: 1em 0;
}
.sf-menu {
    text-align: right;
}
.sf-menu li {
    display: inline-block;
}
.breadcrumbs {
    padding: 10px 0;
}
.breadcrumbs li {
    position: relative;
    display: inline-block;
}
.breadcrumbs li  + li {
    margin: 0 0 0 1em;
}
.breadcrumbs li  + li:before {
    content: "/";
    position: absolute;
    left: -10px;
    top: 0;
}
.page__content {
    position: relative;
}
.page__content h1 {
    font-size: 32px;
}
.page__content p {
    text-align: justify;
}
.page__content a {
    color: #ef4023;
}
.page__content a:hover {
    text-decoration: underline;
}
.page__content table tr td {
    vertical-align: top;
    padding: 5px;
}
.page__content ul, .page__content ol {
    padding: 0 0 0 1em;
    margin: 0 0 15px 1em;
    font-size: 16px;
}
.page__content ul li {
    list-style: disc;
}
.project {
    position: relative;
    margin: 0 0 2em 0;
    box-shadow: 0 5px 14px rgba(0,0,0,0.25), 0 3px 3px rgba(0,0,0,0.22);
}
.project figure {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.project figure img {
    height: 290px;
    width: 100%;
    -moz-transition: all .8s ease-out;
    -o-transition: all .8s ease-out;
    -webkit-transition: all .8s ease-out;
}
.project:hover figure img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.project .desc {
    background-color: rgba(255,255,255,.75);
    color: #000;
    width: 100%;
    z-index: 1;
    padding: 1em;
}
.project .desc .name {
    font-weight: bold;
    line-height: 22px;
    font-size: 16px;
    padding: 0 0 .4em 0;
    border-bottom: 1px solid #d1d2d4;
}
.project .desc .preview {
    margin: 0.4em 0 0 0;
    line-height: 18px;
}
.filter {
    display: block;
    width: 100%;
    text-align: center;
}
.filter + .filter {
    margin: 1em 0 0 0;
}
.filter ul {
    padding: 0;
    margin: 0;
}
.filter ul li {
    display: inline-block;
    margin: 4px 0;
}
.filter ul li.active span {
    background-color: #ef4023;
    color: #fff;
    border-radius: 2px;
}
.filter ul li span {
    padding: 8px 10px;
    -webkit-transition: .2s;
    transition: .2s;
}
.filter ul li span:hover {
    background-color: #ef4023;
    color: #fff;
    cursor: pointer;
    border-radius: 2px;
}
.filter .title {
    font-weight: bold;
    font-size: 16px;
    padding: 4px 10px;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
}
.filter .title:after {
    position: absolute;
    content: "";
    bottom: 6px;
    background-color: #ef4023;
    width: 70%;
    left: 15%;
    height: 1px;
}
.page__content .faq, .page__content .nav {
    margin: 0;
    padding: 0;
}
.faq>li {
    display:block;
    width:100%;
    margin:0;
    padding:0;
    overflow:hidden
}
.faq>li+li {
    margin-top:1em
}
.faq>li .q {
    background-color:#d1d2d4;
    padding:10px 15px 10px 40px;
    position:relative;
    font-size:14px;
    color: #2d3a41;
}
.faq>li .q:after,
.faq>li .q:before {
    -webkit-transition:.5s cubic-bezier(.18,.89,.32,1.28);
    transition:.5s cubic-bezier(.18,.89,.32,1.28);
    position:absolute;
    display:block;
    bottom:0;
    top:0;
    left:10px;
    content:"";
    background-color:#ef4023;
    margin:auto;
    font-size:1.875rem
}
.faq>li .q:after {
    width:3px;
    height:15px;
    left:16px
}
.faq>li .q:before {
    width:15px;
    height:3px
}
.faq>li .q:hover {
    cursor:pointer
}
.faq>li .a {
    margin:1em 0;
    display:none
}
.faq>li .a, .faq>li .a p {
    font-size: 14px
}
.faq>li.active .q:after {
    -webkit-transform:translate3d(0,-70px,0);
    transform:translate3d(0,-70px,0)
}
.tab-pane .project figure img {
    min-height: 200px;
}
.producers .big {
    text-align: justify;
    font-size: 15px;
}
.producers .big + .btn1 {
    margin-top: 10px;
}
.not__found {
    text-align: center;
}
.not__found img {
    max-width: 400px;
}

.page__content .producer__name {
    margin-bottom: 0;
}
.scroll-top, .previous__page {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 99;
    text-align: center;
    color: #fff;
    background: #ef4023;
    display: none;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 0;
}
.previous__page {
    bottom: unset;
    right: unset;
    left: 0.5em;
    display: block;
}
.scroll-top:after, .previous__page:after {
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 1;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
}
.scroll-top .fa, .previous__page .fa {
    display: inline-block;
    font-size: 28px;
    line-height: normal;
}
.previous__page .fa {
    color: #ffffff;
    line-height: 40px;
}
.tab-content img {
    float: left;
    margin:  0 10px 0 0;
}
.tab-content .img__block, .img__block {
    max-width: 500px;
    float: none;
    margin: 0 auto 15px;
    width: 100%;
}
.small__img + .small__img {
    margin-left: 10px;
}
.small__img {
    width: calc(50% - 5px);
    float: none;
    max-height: 300px;
}
.big__img {
    float: none;
    width: 100%;
}
.box__image {
    text-align: center;
    margin: 0 auto;
    max-width: 920px;
}
.company-name {
    font-size: 34px;
}
.list__items figure {
    margin: 0;
}
.list__items .text-wrap {
    margin: 2rem 0 0 0;
}
.list__items .text-wrap a {
    color: #fff;
}
.list__items .text-wrap a:hover {
    text-decoration: none;
}
.list__items .text-wrap .name {
    font-size: 18px;
    font-weight: 400;
    color: #2d3a41;
}
.list__items .text-wrap .text p {
    font-size: 14px;
    line-height: 26px;
}
.article-image {
    max-width: 450px;
    height: auto;
    float: left;
    margin: 1rem 2rem 1rem 0;
}
.list__items .read-more {
    padding: 2px 16px;
    font: 400 12px/31px Roboto,sans-serif;
}
.article-date {
    display: block;
}
.projects__in-main .box2 .button-wrap, .project__box .button-wrap {
    float: none;
    margin-top: 1em;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}
.projects__in-main .box2 .button-wrap .btn2 + .btn2, .project__box .button-wrap .btn2 + .btn2 {
    margin: 0 0 0 auto;
}
.projects__in-main .box2 .button-wrap .btn2, .project__box .button-wrap .btn2 {
    padding: 4px 12px;
    color: #ffffff;
    display: inline-block;
}
.projects__in-main .box2 .button-wrap .btn2:hover, .project__box .button-wrap .btn2:hover {
    cursor: pointer;
    text-decoration: none;
}
.thumbs-gallery {
    margin: 1rem 0 0 0;
    position: relative;
}
.thumbs-gallery .owl-nav button.owl-prev, .thumbs-gallery .owl-nav button.owl-next {
    position: absolute;
    background: #fff;
    top: calc(50% - 13px);
    margin: 0;
    outline: none;
    border-radius: 0;
}
.thumbs-gallery .owl-nav button.owl-prev {
    left: 0;
}
.thumbs-gallery .owl-nav button.owl-next {
    right: 0;
}
.thumbs-gallery .owl-nav button.owl-prev span, .thumbs-gallery .owl-nav button.owl-next span {
    padding: 0 1rem;
}
.thumbs-gallery .item {
    border: 1px solid #737477;
}
.thumbs-gallery .current .item img {
    padding: 0;
    border: 0;
}
.thumbs-gallery .item:hover {
    cursor: pointer;
}
.thumbs-gallery .item img {
    padding: 4px;
}
.product-text {
    margin: 2rem 0 1rem 0;
}
.product-price {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.product-price .product-price-label {
    font-size: 22px;
}
.product-price .product-price-value {
    font-size: 26px;
    font-weight: 700;
    margin: 0 0 0 1rem;
}
.product-form input, .product-form textarea{
    color: #2d3a41;
}
.product-form .product-form-title {
    font-size: 26px;
    font-weight: 700;
    text-align: right;
    margin: 0 0 1rem 0;
}
.product-form .btn {
    padding: 10px 18px;
    position: relative;
}
.product-form .btn:hover {
    cursor: pointer;
}
.notify {
    position: fixed;
    display: none;
    right: 0;
    top: 16%;
    width: 320px;
    border-top: 3px solid #ef4023;
    box-shadow: 0 1px 4px #373737;
    background-color: #fff;
    z-index: 100;
    line-height: normal;
}
.notify > div {
    padding: 1.5em 2em 1em 1em;
    font-size: 17px
}
.is__sent{
    position: relative;
}
.is__sent:after {
    position: absolute;
    content: "";
    left: calc(50% - 13px);
    top: calc(50% - 13px);
    border-radius: 50%;
    width: 26px;
    height: 26px;
    z-index: 10;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    border-left: 3px solid #c1bebe;
    transform: translateZ(0);
    animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.page__content .contact-list {
    margin: 0;
    padding: 0;
}
.page__content .contact-list li {
    list-style: none;
    text-align: left;
}
.phone-item {
    display: flex;
    align-items: center;
}
.phone-item img {
    width: 24px;
    height: 24px;
    margin: 0 0 0 .5rem;
}
.phone-item span {
    margin: 0 0 0 .5rem;
}
.phone-item + .phone-item {
    margin: .5rem 0 0 0;
}
.is-sticky .header__menu {
    padding: 0;
}
.logo-link {
    display: flex;
    align-items: center;
}
.logo-link span {
    margin: 0 0 0 1rem;
    font-weight: 700;
    line-height: normal;
}
.logo-lion {
    margin: 0 0 0 auto;
}
.logo-lion img {
    max-width: 110px;
}
.text-running {
    background-color: #719A3F;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    padding: 2rem 0;
    line-height: normal;
}